* {
    margin: 0;
    padding: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh ;
    width: 100vw ;
}

.sidebar {
    display: grid;
    grid-row: 1 / 6;
    grid-template-rows: 1fr 5fr 5fr;
    background-color: blue;
}

.top {
    display: grid;
    align-items: center;
}

.bottom1, .bottom2 {
    display: grid;
    color: white;
}

.bottom1{
    padding: 16px;
}

.bottom2{
    align-items: baseline;
    padding: 16px;
}
    
.content {
    display: grid;
    grid-row: 2 / 6;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 14fr 52fr 52fr 52fr 14fr;
}

.your-projects {
    background-color: lightcoral;
    display: grid;  
    align-items: center;
}

.project-content {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color: peachpuff;
}

.card {
    background-color: white;
    margin: 8px;
    padding: 4px;
    border-radius: 10px;
}

.right-side {
    display: grid;
    grid-template-rows: 14fr 71fr 14fr 71fr 14fr;
}

.announcements {
    background-color: lightcoral;
    display: grid;  
    align-items: center;
}

.ann-content1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 4px;
    border-radius: 10px;
}

.ann-content1 > .card > p {
    font-size: small;    
}

.ann-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 4px;
    border-radius: 10px;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header {
    display: grid;
    grid-column: 2 / 3;
}

.header-top  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

.header-top-left{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: end;
}

.header-top-left > img {
    height: 24px;
    width: 24px;
    padding-left: 48px;
}

.header-top-right  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin: 16px;
  }

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

.header-bottom-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

ul {
    list-style-type: none;
}

li > img {
    filter: invert(100%);
}

.top > ul >li {
    font-size: 32px;
}

li {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}