* {
    margin: 0;
    padding: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh ;
    width: 100vw ;
}

.sidebar {
    display: grid;
    grid-row: 1 / 6;
    grid-template-rows: 1fr 5fr 5fr;
}

.top {
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
}

.bottoms {
    background-color: blue;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}
    
.content {
    display: grid;
    grid-row: 2 / 6;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 14fr 52fr 52fr 52fr 14fr;
}

.your-projects {
    background-color: lightcoral;
    display: grid;  
    align-items: center;
}

.project-content {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color: peachpuff;
}

.card {
    background-color: white;
    margin: 8px;
    padding: 4px;
    border-radius: 10px;
}

.right-side {
    display: grid;
    grid-template-rows: 14fr 71fr 14fr 71fr 14fr;
}

.announcements {
    background-color: lightcoral;
    display: grid;  
    align-items: center;
}

.ann-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 4px;
    border-radius: 10px;
}

.ann-content > .card > p {
    font-size: small;    
}

.header {
    display: grid;
    grid-column: 2 / 3;
}

.header-top  {
    background-color: lightgreen;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin: 16px;
  }

.header-bottom {
    background-color: darkgreen;
}